*
  box-sizing border-box
  -moz-box-sizing border-box
  transition(all 0.8s)

html, body
  font 14px 'Didact Gothic', sans-serif
  color $base-text-color

html
  height 100%
  background $base-dark url(images/quest4-bg.jpg) no-repeat 50% 50%
  background-size cover

body
  min-height 100%
  -webkit-animation-name opacity-increase
  -webkit-animation-duration 4s
  animation-name opacity-increase
  animation-duration 4s

.content
  padding 20px 20px 0 20px

.filters
  padding 15px 0
  margin: 10px 0;
  background: rgba(0,0,0,.5);

.filters-top
  display flex
  align-items center

.filters-bottom
  display flex

#flip-scroll
  padding-bottom 15px

.scrollable-table
  overflow auto


table
  width 100%
  background rgba(0,0,0, 0.4)


table thead
  th
    text-align center
    width 10%
    transition none

  th a
    color $white
    text-decoration none
    padding 5px
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%
    cursor pointer
    min-height 45px

  th a span
    position relative
    top -4px

  th a span > i
    font-size 18px
    display block
    height 8px

  th:last-of-type
   max-width 100px
  tr
    background $base-theme
    color $white

table thead th,
table tbody td
  vertical-align middle

table tbody
  td
    padding 7px 5px
    text-align center
    width 10%
    word-break break-all
    &:last-of-type
      max-width 100px

  td input[data-error=true]
    border-color $cancel-error
  tr
    border-bottom 1px solid $base-theme

  tr:hover
    background rgba(0,0,0, .5)


.react-datepicker__input-container input,
table tbody td input
  width 100%
  outline none
  padding 5px
  border 1px solid #dfdfdf
  color $white

.react-datepicker__input-container input:focus,
table tbody td input:focus
  border-color #abb2b5

.fixed-table-container
  position fixed
  bottom 0
  left 0
  display table
  width 100%
  padding 0 20px

  tbody tr
    background $base-theme
    color $white

  tbody td
    width 10%

  tbody tr:hover
    background $base-theme

  tbody td:last-of-type
    max-width 100px


button
  outline none
  background none
  font-size 14px
  cursor pointer
  border none

.iconic-button
  width 30px
  height 30px
  border 1px solid $base-theme
  border-radius 50%
  color $base-theme
  margin 0 3px

  &:hover
    background $base-theme
    color $white

  &.confirm-button
    border-color $accept
    color $accept

  &.cancel-button
    border-color $cancel-error
    color $cancel-error

  &.cancel-button:hover
    background $cancel-error
    color $white

  &.confirm-button:hover
    background $accept
    color $white

.action-button
  font-size 35px
  transition(all 0.6s)

  &.icon-cancel
    color $cancel-error

  &:hover
    color $white

.add-button
  font-size 35px
  color $accept
  transition(all 0.5s)

  &:hover
    transform(rotate(180deg))

select
  padding 5px 18px 5px 5px
  background $white
  color $white
  border-radius 0
  border 1px solid $white
  outline none
  -webkit-appearance none
  -moz-appearance none
  appearance none
  cursor pointer
  background url(images/select-arrow.png) no-repeat 95% transparent


/* datepicker */

.react-datepicker__day--selected,
.react-datepicker__day--in-range
  background $base-theme

.search-container
  flex 1

.search-container i
  font-size 24px
  color $actions

.search-container input
  outline none
  padding 5px
  color $white
  border none
  border-bottom 1px solid $actions
  width 220px
  transition(width 1s)

.search-container input:focus
  width 50%

.search-wrapper
  display flex
  align-items flex-start

.search-wrapper .icon-event_busy
  cursor pointer
  font-size 22px
  color $cancel-error
  margin 0 5px

.date-range-label
  padding 2px 8px
  color $actions

.selectors-block
  padding 0 0 0 10px

.selectors-block select
  background url(images/select-arrow.png) no-repeat 95% transparent

.selectors-container
  display flex
  align-content space-around
  align-items center
  padding 8px 0

.filter-label
  padding 5px
  border-bottom 1px solid $actions


/* header */
header
  display flex
  justify-content space-between
  background rgba(0,0,0,.5)
  padding 10px 20px
  color $white

.quest-info
  display flex
  align-items center

  &__block
    padding 0 15px
    display flex
    justify-content center
    align-items flex-start

    .icon-lock_open
      color $accept
    .icon-lock_outline
      color $cancel-error

  &__block i
    font-size 30px

.user-profile
  display flex
  align-items center

  &__useravatar
    width 40px
    height 40px
    border 2px solid $base-theme
    border-radius 50%
    overflow hidden
    margin-left 10px

    img
      width 100%
      height auto

@media only screen and (max-width 768px)
  .filters
    display flex
    flex-direction column

  .filters-top
    align-items stretch
    flex-direction column
    justify-content initial

    div
      margin 5px 0

    button
      margin 0

  .filters-bottom
    padding 10px 0

  .search-container inputfocus
    width 80%

  .react-datepicker__input-container
    width 40%

  table .react-datepicker__input-container
    width 100%

  .select-box select
    width 100%

  .iconic-button
    width 25%
    height 25px
    border-radius 18px
    margin 0 10px
    font-size 20px

  .selectors-container
    align-items stretch
    flex-direction column

  .selectors-block select
    width 100%

  .selectors-block
    display flex
    margin 5px 0

  .selectors-block i
    font-size 26px

@media only screen and (max-height 407px)
  .fixed-table-container
    position relative
    padding 0


//animations
@-webkit-keyframes opacity-increase
  0%
    opacity 0
  100%
    opacity 1

@-moz-keyframes opacity-increase
  0%
    opacity 0
  100%
    opacity 1
@keyframes opacity-increase
  0%
    opacity 0
  100%
