@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?hfszl6');
    src:    url('fonts/icomoon.eot?hfszl6#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?hfszl6') format('truetype'),
        url('fonts/icomoon.woff?hfszl6') format('woff'),
        url('fonts/icomoon.svg?hfszl6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-schedule:before {
    content: "\e8b5";
}
.icon-alarm_add:before {
    content: "\e856";
}
.icon-add_circle:before {
    content: "\e147";
}
.icon-control_point:before {
    content: "\e3ba";
}
.icon-add_location:before {
    content: "\e567";
}
.icon-alarm_off:before {
    content: "\e857";
}
.icon-alarm_on:before {
    content: "\e858";
}
.icon-arrow_back:before {
    content: "\e5c4";
}
.icon-arrow_downward:before {
    content: "\e5db";
}
.icon-arrow_drop_down:before {
    content: "\e5c5";
}
.icon-arrow_drop_up:before {
    content: "\e5c7";
}
.icon-arrow_forward:before {
    content: "\e5c8";
}
.icon-arrow_upward:before {
    content: "\e5d8";
}
.icon-block:before {
    content: "\e14b";
}
.icon-build:before {
    content: "\e869";
}
.icon-cancel:before {
    content: "\e5c9";
}
.icon-check_box:before {
    content: "\e834";
}
.icon-check_box_outline_blank:before {
    content: "\e835";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-mode_edit:before {
    content: "\e254";
}
.icon-delete:before {
    content: "\e872";
}
.icon-done:before {
    content: "\e876";
}
.icon-enhanced_encryption:before {
    content: "\e63f";
}
.icon-insert_invitation:before {
    content: "\e24f";
}
.icon-event_available:before {
    content: "\e614";
}
.icon-event_busy:before {
    content: "\e615";
}
.icon-find_replace:before {
    content: "\e881";
}
.icon-people:before {
    content: "\e7fb";
}
.icon-group_add:before {
    content: "\e7f0";
}
.icon-highlight_off:before {
    content: "\e888";
}
.icon-home:before {
    content: "\e88a";
}
.icon-hourglass_empty:before {
    content: "\e88b";
}
.icon-info:before {
    content: "\e88e";
}
.icon-info_outline:before {
    content: "\e88f";
}
.icon-location_off:before {
    content: "\e0c7";
}
.icon-room:before {
    content: "\e8b4";
}
.icon-lock_open:before {
    content: "\e898";
}
.icon-lock_outline:before {
    content: "\e899";
}
.icon-notifications:before {
    content: "\e7f4";
}
.icon-notifications_active:before {
    content: "\e7f7";
}
.icon-notifications_off:before {
    content: "\e7f6";
}
.icon-person_pin_circle:before {
    content: "\e56a";
}
.icon-warning:before {
    content: "\e002";
}
.icon-search:before {
    content: "\e8b6";
}
.icon-thumb_down:before {
    content: "\e8db";
}
.icon-thumb_up:before {
    content: "\e8dc";
}
.icon-thumbs_up_down:before {
    content: "\e8dd";
}
.icon-update:before {
    content: "\e923";
}
.icon-vpn_key:before {
    content: "\e0da";
}

