html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
i {
  display: inline-block;
}
html,
body {
  width: 100%;
  margin: 0 auto;
}
input,
button,
textarea {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
input[type=text]::-ms-clear {
  display: none;
}
input[type=password]::-ms-reveal {
  display: none;
}
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff /* firefox 19+ */;
}
:-ms-input-placeholder {
  color: #fff /* ie */;
}
input:-moz-placeholder {
  color: #fff;
}
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
html,
body {
  font: 14px 'Didact Gothic', sans-serif;
  color: #dedede;
}
html {
  height: 100%;
  background: #2b3643 url("images/quest4-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}
body {
  min-height: 100%;
  -webkit-animation-name: opacity-increase;
  -webkit-animation-duration: 4s;
  animation-name: opacity-increase;
  animation-duration: 4s;
}
.content {
  padding: 20px 20px 0 20px;
}
.filters {
  padding: 15px 0;
  margin: 10px 0;
  background: rgba(0,0,0,0.5);
}
.filters-top {
  display: flex;
  align-items: center;
}
.filters-bottom {
  display: flex;
}
#flip-scroll {
  padding-bottom: 15px;
}
.scrollable-table {
  overflow: auto;
}
table {
  width: 100%;
  background: rgba(0,0,0,0.4);
}
table thead th {
  text-align: center;
  width: 10%;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
table thead th a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  min-height: 45px;
}
table thead th a span {
  position: relative;
  top: -4px;
}
table thead th a span > i {
  font-size: 18px;
  display: block;
  height: 8px;
}
table thead th:last-of-type {
  max-width: 100px;
}
table thead tr {
  background: #0cbaca;
  color: #fff;
}
table thead th,
table tbody td {
  vertical-align: middle;
}
table tbody td {
  padding: 7px 5px;
  text-align: center;
  width: 10%;
  word-break: break-all;
}
table tbody td:last-of-type {
  max-width: 100px;
}
table tbody td input[data-error=true] {
  border-color: #ff646e;
}
table tbody tr {
  border-bottom: 1px solid #0cbaca;
}
table tbody tr:hover {
  background: rgba(0,0,0,0.5);
}
.react-datepicker__input-container input,
table tbody td input {
  width: 100%;
  outline: none;
  padding: 5px;
  border: 1px solid #dfdfdf;
  color: #fff;
}
.react-datepicker__input-container input:focus,
table tbody td input:focus {
  border-color: #abb2b5;
}
.fixed-table-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: table;
  width: 100%;
  padding: 0 20px;
}
.fixed-table-container tbody tr {
  background: #0cbaca;
  color: #fff;
}
.fixed-table-container tbody td {
  width: 10%;
}
.fixed-table-container tbody tr:hover {
  background: #0cbaca;
}
.fixed-table-container tbody td:last-of-type {
  max-width: 100px;
}
button {
  outline: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  border: none;
}
.iconic-button {
  width: 30px;
  height: 30px;
  border: 1px solid #0cbaca;
  border-radius: 50%;
  color: #0cbaca;
  margin: 0 3px;
}
.iconic-button:hover {
  background: #0cbaca;
  color: #fff;
}
.iconic-button.confirm-button {
  border-color: #2ad892;
  color: #2ad892;
}
.iconic-button.cancel-button {
  border-color: #ff646e;
  color: #ff646e;
}
.iconic-button.cancel-button:hover {
  background: #ff646e;
  color: #fff;
}
.iconic-button.confirm-button:hover {
  background: #2ad892;
  color: #fff;
}
.action-button {
  font-size: 35px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.action-button.icon-cancel {
  color: #ff646e;
}
.action-button:hover {
  color: #fff;
}
.add-button {
  font-size: 35px;
  color: #2ad892;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.add-button:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
select {
  padding: 5px 18px 5px 5px;
  background: #fff;
  color: #fff;
  border-radius: 0;
  border: 1px solid #fff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url("images/select-arrow.png") no-repeat 95% transparent;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background: #0cbaca;
}
.search-container {
  flex: 1;
}
.search-container i {
  font-size: 24px;
  color: #e87e04;
}
.search-container input {
  outline: none;
  padding: 5px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #e87e04;
  width: 220px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.search-container input:focus {
  width: 50%;
}
.search-wrapper {
  display: flex;
  align-items: flex-start;
}
.search-wrapper .icon-event_busy {
  cursor: pointer;
  font-size: 22px;
  color: #ff646e;
  margin: 0 5px;
}
.date-range-label {
  padding: 2px 8px;
  color: #e87e04;
}
.selectors-block {
  padding: 0 0 0 10px;
}
.selectors-block select {
  background: url("images/select-arrow.png") no-repeat 95% transparent;
}
.selectors-container {
  display: flex;
  align-content: space-around;
  align-items: center;
  padding: 8px 0;
}
.filter-label {
  padding: 5px;
  border-bottom: 1px solid #e87e04;
}
header {
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  color: #fff;
}
.quest-info {
  display: flex;
  align-items: center;
}
.quest-info__block {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.quest-info__block .icon-lock_open {
  color: #2ad892;
}
.quest-info__block .icon-lock_outline {
  color: #ff646e;
}
.quest-info__block i {
  font-size: 30px;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile__useravatar {
  width: 40px;
  height: 40px;
  border: 2px solid #0cbaca;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}
.user-profile__useravatar img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .filters {
    display: flex;
    flex-direction: column;
  }
  .filters-top {
    align-items: stretch;
    flex-direction: column;
    justify-content: initial;
  }
  .filters-top div {
    margin: 5px 0;
  }
  .filters-top button {
    margin: 0;
  }
  .filters-bottom {
    padding: 10px 0;
  }
  .search-container inputfocus {
    width: 80%;
  }
  .react-datepicker__input-container {
    width: 40%;
  }
  table .react-datepicker__input-container {
    width: 100%;
  }
  .select-box select {
    width: 100%;
  }
  .iconic-button {
    width: 25%;
    height: 25px;
    border-radius: 18px;
    margin: 0 10px;
    font-size: 20px;
  }
  .selectors-container {
    align-items: stretch;
    flex-direction: column;
  }
  .selectors-block select {
    width: 100%;
  }
  .selectors-block {
    display: flex;
    margin: 5px 0;
  }
  .selectors-block i {
    font-size: 26px;
  }
}
@media only screen and (max-height: 407px) {
  .fixed-table-container {
    position: relative;
    padding: 0;
  }
}
@-webkit-keyframes opacity-increase {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity-increase {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity-increase {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes opacity-increase {
  0% {
    opacity: 0;
  }
}
@-o-keyframes opacity-increase {
  0% {
    opacity: 0;
  }
}
@keyframes opacity-increase {
  0% {
    opacity: 0;
  }
}
